html {
  @include box-sizing(border-box);
  font-family: "Noto Serif", serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $heading-family;
  margin-bottom: 5vh;
}

p {
  font-weight: lighter; 
}

i {
  font-style: normal; 
}

input[type=search] {
  width: $search-width;
  padding: $search-padding;
  border: $search-border-width solid $search-border-color;
  border-radius: $border-radius;

  &:focus {
    outline: none
  }
}

#wrapper {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

#header {
  margin: 5vh 0;
}