.error {
  width: $error-width;
  padding: $error-padding;
  margin: 0 auto;
  text-align: center;
  border: $error-border-width solid $error-red;
  border-radius: $border-radius;

  &__icon {
    font-family: fontAwesome;
    color: $error-red;
    font-size: $error-icon-size;
    line-height: 1.8;
    &:before {
      content: '\f057';
    }
  }
}