$gutter: 10px;

/* Components */
$image-wrapper-height: 25vh;
$image-item-width: 100%;
$image-item-border-width: 1px;
$image-item-border-color: Gainsboro;

$spinner-widht: 1em;
$spinner-height: $spinner-widht; 
$spinner-margin-top: #{(0.5*$image-wrapper-height)};
$spinner-margin-left: 15vh;

$error-width: 30vh;

$search-width: 70%;
$search-border-color: Gainsboro;

/* Layout */
$max-width: 1024px;
$media-small: 550px;
$media-medium: 800px;
$border-radius: 3px;

/* Fonts */
$heading-family: 'Noto Serif', serif;
$error-red: IndianRed;

