$gutter: 10px;

/* Components */
$image-item-height: 25vh;
$image-item-width: 100%;
$image-item-border-width: 1px;
$image-item-border-radius: 3px;
$image-item-border-color: Gainsboro;

$spinner-widht: 1em;
$spinner-height: $spinner-widht; 
$spinner-margin-top: #{(0.5*$image-item-height)};
$spinner-margin-left: 15vh;

/* Layout */
$max-width: 1024px;
$media-small: 550px;
$media-medium: 800px;

/* Fonts */
$heading-family: 'Noto Serif', serif;